h1 {
    font-size: 1.5em;
}

.card-img-top {
    width: 100%;
}

li {
    list-style: none;
    margin-right: 10px;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

.btn-see {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.btn-crud  {
    display: flex;
    justify-content: space-evenly;
}

.book-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

#js-alert-modal {
    margin-top: 20px;
    display: none;
}

.modal-body div {
    margin-top: 10px;
}
