<script>
"use strict";
  import '@material/mwc-top-app-bar-fixed';
	import '@material/mwc-icon-button';
  let books = [];
  import TinyDB from "./tinyDB.svelte";
  import PouchDB from "./pouchdb.js"
  var db = new PouchDB('http://localhost:5555/livres');

  db.allDocs({
    include_docs: true,
    attachments: true
  }).then(function(result) {
    books = result.rows;
    console.log(books);
  });

  let titre_new = "";
  let auteur_new = "";
  let url_new = "";
  let price_new = "";
  let image_new = "";

  function create() {
    if (titre_new == "" || auteur_new == "" || url_new == "" || price_new == ""){
      let p = document.getElementById('js-alert-modal');
      console.log(p);
      p.style.display = "block";
      
    } 
    else {
      let book = {
        _id: titre_new,
        id: titre_new,
        title: titre_new,
        author: auteur_new,
        url: url_new,
        price: price_new,
      };
      if (image_new){
        var fr = new FileReader();

            fr.addEventListener("load", function(e){
              let image = e.target.result.split(",")[1];
              
              book.img = image;
              db.put(book);
              document.location.reload();
            });

            fr.readAsDataURL(document.getElementById("newImage").files[0]);
      }
      else{
        alert("Veuillez renseigner l'image");
      }
      

    }
  }

  function update(n) {
    console.log(n);
    document.getElementById("idModif").value = n._id;
    document.getElementById("titreModif").value = n.title;
    document.getElementById("auteurModif").value = n.author;
    document.getElementById("urlModif").value = n.url;
    document.getElementById("prixModif").value = n.price;
    document.getElementById("imageModif").value = n.image;
  }

  function validateModif() {
    let id = document.getElementById("idModif").value;
    let titre = document.getElementById("titreModif").value;
    let auteur = document.getElementById("auteurModif").value;
    let url =  document.getElementById("urlModif").value;
    let prix = document.getElementById("prixModif").value;
    let image;
    console.log(id);
    db.get(id).then(function(book) {
      if (titre == "" || auteur == "" || url == "" || prix == ""){
        alert("Vous devez remplir les champs.");
      }
      else {

        if (document.getElementById("imageModif").files && document.getElementById("imageModif").files[0]){
          var fr = new FileReader();

          fr.addEventListener("load", function(e){
            image = e.target.result.split(",")[1];
            book.title = titre;
            book.author = auteur;
            book.url = url;
            book.price = prix;
            book.img = image;
            db.put(book);
          });

          fr.readAsDataURL(document.getElementById("imageModif").files[0]);
        }
        
        else{
          book.title = titre;
          book.author = auteur;
          book.url = url;
          book.price = prix;
          db.put(book);
        }

        document.location.reload();
      }
    })
  }
   
  function remove(b) {
    if (confirm("Etes-vous sur de vouloir supprimer le livre : " + b.title + " ?")) {
      db.get(b._id).then(function (book) {
        return db.remove(book);
        })
      document.getElementById(b._id).remove();
    }
  }

  
</script>

<mwc-top-app-bar-fixed>
    <div slot="title"><h1>Svelte Books App</h1></div>
    <mwc-icon-button icon="add_circle_outline" slot="actionItems" data-toggle="modal" data-target="#modalAjout"></mwc-icon-button>
</mwc-top-app-bar-fixed>

<main>
  
<!-- Modal Ajout -->
<div class="modal fade" id="modalAjout" tabindex="-1" role="dialog" aria-labelledby="modalAjout" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Ajouter un livre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          
          <label for="titre">Titre</label>
          <input type="text" bind:value={titre_new} name="titre" />
        </div>
        <div>
          <label for="auteur">Auteur</label>
          <input type="text" bind:value={auteur_new} name="auteur"  />
        </div>
        <div>
          <label for="url">URL pour acheter le livre</label>
          <input type="text" bind:value={url_new} name="url" />
        </div>
        <div>
            <label for="price">Prix</label>
            <input type="text" bind:value={price_new} name="price" />
        </div>
        <div>
            <label for="image">Image</label>
            <input type="file" id="newImage" bind:value={image_new} name="image" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <input on:click={create} data-dismiss="modal" type="submit" name="button" value="Ajouter" class="btn btn-primary"/>
      </div>
    </div>
  </div>
</div>

<!-- Modal livre modification -->
<div class="modal fade" id="modalModification" tabindex="-1" role="dialog" aria-labelledby="modalModification" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modifier le livre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <input type="text" name="idModif" id="idModif" hidden>
        <div>
          <label for="titre">Titre</label>
          <input type="text" id="titreModif" name="titre" />
        </div>
        <div>
          <label for="auteur">Auteur</label>
          <input type="text" id="auteurModif" name="auteur"  />
        </div>
        <div>
          <label for="url">URL d'achat</label>
          <input type="text" id="urlModif" name="url" />
        </div>
        <div>
            <label for="price">Prix</label>
            <input type="text" id="prixModif" name="price" />
        </div>
        <div>
            <label for="image">Image</label>
            <input type="file" id="imageModif" name="image" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <input type="submit" name="button" value="Modifier" class="btn btn-primary" on:click={validateModif}/>
      </div>
    </div>
  </div>
</div>
<p id="js-alert-modal" class="alert alert-danger">Merci de remplir tous les champs du formulaire d'ajout.</p>
  <ul>
    {#each books as b}
    <li id="{b.doc.id}" class="mt-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="data:image/png;base64,{b.doc.img}" alt="{b.doc.title}">
        <div class="card-body">
          <h5 class="card-title">{b.doc.title}</h5>
          <p class="card-text">{b.doc.author}</p>
          <button type="button" class="btn btn-primary btn-see" data-toggle="modal" data-target="#modalAffichage">
        Voir plus</button>
            <div class="mt-3 btn-crud"> 
            <button on:click={update(b.doc)} type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#modalModification">
        Modifier
            </button>
          <button on:click={remove(b.doc)} type="button" class="btn btn-danger">Supprimer</button>
            </div>
        </div>
      </div>
    </li>
    {/each}
  </ul>

  <!-- Modal Affichage -->
{#each books as b}
<div class="modal fade" id="modalAffichage" tabindex="-1" role="dialog" aria-labelledby="modalAffichage" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAffichage">{b.doc.title}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="data:image/png;base64,{b.doc.img}" alt="{b.doc.title}" class="book-img">
        <p>Auteur : {b.doc.author}</p>
        <p>Prix : {b.doc.price} €</p>
         <a href="{b.doc.url}" target="_blank" class="text-light"><button type="button" class="btn btn-primary">Acheter</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
{/each}
</main>
